body{
    background-image: linear-gradient(to top,#8ab6d6,#f9f7f7);
    background-image:url("https://www.transparenttextures.com/patterns/cubes.png");
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
}

.column1 {
    float: left;
    width: 67%;
    padding: 0 10px;
    margin-top: 50px;
}

