.searchTrain {
  top: 10%;
  overflow: hidden;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 80px;
  /* z-index: 1 */
  background: #b9bbdf;
  border-radius: 15px;
}

.inputBox {
  margin: 30px;
}

.nav-item {
  margin: 10px;
}

.col-lg-6 {
  line-height: 1.5;
}

.trainpics {
  margin-top: 20px;
}

.box-class {
  background: #b9bbdf;
  border-radius: 15px;
  padding: 20px;
  width: 30%;
  margin: 2%;
}
.holidayHeading {
  font-size: 5rem;
  color: #f58634;
  text-shadow: 2px 2px black;
  text-align: center;
}

.HolidayImages {
  width: 100%;
}

.holidayContainer {
  padding-left: 14%;
  padding-right: 4%;
}

#grad {
  background-image: linear-gradient(to right, #faf3e0, #98ded9);
}

#grad-holiday {
  background-image: linear-gradient(to right, #dbf6e9, #cee6b4);
}

h1,
h4 {
  font-family: "Dela Gothic One", cursive;
}

.findingHeading {
  padding: 10%;
}

.finding {
  padding-left: 5%;
  padding-right: 5%;
  margin: 3%;
}
.padd {
  padding-left: 10%;
  padding-right: 10%;
}

.hotel {
  text-align: center;
}
